{% extends "base.html" %}

{% block content %}

<h2>Añadir datos</h2>

<form method="post">

    <label>Tipo:</label>
    <select name="tipo">
        <option value="jugador">Jugador</option>
        <option value="entrenador">Entrenador</option>
        <option value="club">Club</option>
        <option value="titulo">Título</option>
    </select>

    <br><br>

    <label>Nombre:</label>
    <input type="text" name="nombre" required>

    <br><br>

    <label>Nacionalidad / Liga:</label>
    <input type="text" name="extra">

    <br><br>

    <button type="submit">Guardar</button>

</form>

{% endblock %}
