{% extends "base.html" %}
{% block content %}

<h2>Clubes</h2>

<table border="1" cellpadding="6">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Liga</th>
        <th>Acciones</th>
    </tr>

    {% for c in clubes %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.nombre }}</td>
        <td>{{ c.liga }}</td>
        <td>
            <a href="/admin/clubes/editar/{{ c.id }}">✏️ Editar</a>
            |
            <a href="/admin/clubes/borrar/{{ c.id }}"
               onclick="return confirm('¿Seguro que quieres borrar este club?');">
               🗑️ Borrar
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

