<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Fútbol DB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav style="margin-bottom:20px;">
    <a href="/">🔍 Buscar</a> |

    {% if session.get("admin") %}
        <a href="/add">➕ Añadir datos</a> |
        <a href="/historial_jugador">📅 Historial jugador</a> |
        <a href="/historial_entrenador">🎓 Historial entrenador</a> |
        <a href="/titulo_jugador">🏆 Títulos jugador</a> |
        <a href="/admin/jugadores">👤 Jugadores</a> |
        <a href="/admin/clubes">🏟️ Clubes</a> |
        <a href="/admin/temporadas">🗓️ Temporadas</a> |
        <a href="/admin/club_liga_temporada">🔗 Club · Liga · Temporada</a> |
        <a href="/login">🚪 Logout</a>
    {% else %}
        <a href="/login">🔐 Login admin</a>
    {% endif %}
</nav>

<hr>

